<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Метрики Холстеда для языка Swift</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Метрики Холстеда для языка Swift</h1>
        <h2>Выполнили Елькин Матвей и Кротюк Иван - студенты гр.251004</h2>
    </header>
    <div>
        <form method="post">
            <h2>Код для анализа</h2>
            <textarea name="code" th:text="${code} != null ? ${code} : '' "></textarea>
            <button>Проанализировать</button>
            <div th:if="${metrics} != null">
                <h3 th:text="'Словарь программы n = ' + ${metrics.getCountOfUniqueOperators()} + ' + ' + ${metrics.getCountOfUniqueOperands()} + ' = ' + ${metrics.getProgramMap()}"></h3>
                <h3 th:text="'Длина программы N = ' + ${metrics.getCountOfOperators()} + ' + ' + ${metrics.getCountOfOperands()} + ' = ' + ${metrics.getProgramLength()}"></h3>
                <h3 th:text="'Объем программы V = ' + ${metrics.getProgramLength()} + ' log_2 ' + ${metrics.getProgramMap()} + ' = ' + ${metrics.getVolume()}"></h3>
            </div>
        </form>
        <table>
            <tr>
                <th>i</th>
                <th>Оператор</th>
                <th>Количество</th>
            </tr>
            <tr th:each="operator : ${operators}">
                <td th:text="${operatorStat.count}"></td>
                <td th:text="${operator.key}"></td>
                <td th:text="${operator.value}"></td>
            </tr>
            <tr>
                <th th:text="'n=' + ${metrics.getCountOfUniqueOperators()}"></th>
                <th></th>
                <th th:text="'N=' + ${metrics.getCountOfOperators()}"></th>
            </tr>
        </table>
        <table>
            <tr>
                <th>j</th>
                <th>Операнд</th>
                <th>Количество</th>
            </tr>
            <tr th:each="operand : ${operands}">
                <td th:text="${operandStat.count}"></td>
                <td th:text="${operand.key}"></td>
                <td th:text="${operand.value}"></td>
            </tr>
            <tr>
                <th th:text="'n=' + ${metrics.getCountOfUniqueOperands()}"></th>
                <th></th>
                <th th:text="'N=' + ${metrics.getCountOfOperands()}"></th>
            </tr>
        </table>
    </div>
</body>
</html>